board-to-fen
boto3
duckduckgo-search
ffmpeg-python
gradio
gradio[oauth]
IPython
keras==2.15.0
langchain-aws>=0.1.4
langchain_community
langchain_core
langgraph
numpy
pillow
pydub
pyppeteer
requests
tensorflow
vosk